# Obtaining Your Data - Lab

## Introduction
In this lab you'll practice your munging and transforming skills in order to load in your data to solve a regression problem.

## Objectives
You will be able to:
* Perform an ETL process with multiple tables and create a single dataset

## Task Description

You just got hired by Lego! Your first project is going to be to develop a pricing algorithm to help set a target price for new lego sets that are released to market. To do this, you're first going to need to start mining the company database in order to collect the information you need to develop a model.

Start by investigating the database stored in lego.db and joining the tables into a unified dataset!

> **Hint:** use this SQL query to preview the tables in an unknown database:
```sql
SELECT name FROM sqlite_master
            WHERE type='table'
            ORDER BY name;
```

In [1]:
# Your code here
import sqlite3
import pandas as pd

conn = sqlite3.connect('lego.db')
cur = conn.cursor()

tables = cur.execute("""
                     SELECT name 
                     FROM sqlite_master
                     WHERE type='table'
                     ORDER BY name;
                     """).fetchall()

# Take results and create DataFrame
df1 = pd.DataFrame(tables) 
df1.columns = [i[0] for i in cur.description]
df1.head()

              name
0  product_details
1     product_info
2  product_pricing
3  product_reviews

In [2]:
tables

[('product_details',),
 ('product_info',),
 ('product_pricing',),
 ('product_reviews',)]

In [3]:
tables[0]

('product_details',)

In [4]:
tables[0][0]

'product_details'

In [5]:
table_alls = cur.execute("""
                         SELECT * 
                         FROM sqlite_master
                         WHERE type='table'
                         ORDER BY name;
                         """).fetchall()

# Take results and create DataFrame
df2 = pd.DataFrame(table_alls) 
df2.columns = [i[0] for i in cur.description]
df2.head()

,type,name,tbl_name,rootpage,sql
0,table,product_details,product_details,5,CREATE TABLE product_details (prod_id INTEGER ...
1,table,product_info,product_info,2,CREATE TABLE product_info (prod_id INTEGER PRI...
2,table,product_pricing,product_pricing,3,CREATE TABLE product_pricing (prod_id INTEGER ...
3,table,product_reviews,product_reviews,6,CREATE TABLE product_reviews (prod_id INTEGER ...

In [6]:
table_alls

[('table',
  'product_details',
  'product_details',
  5,
  'CREATE TABLE product_details (prod_id INTEGER PRIMARY KEY,\n                                         prod_desc TEXT,\n                                         prod_long_desc TEXT,\n                                         theme_name TEXT\n                                        )'),
 ('table',
  'product_info',
  'product_info',
  2,
  'CREATE TABLE product_info (prod_id INTEGER PRIMARY KEY,\n                                         ages TEXT,\n                                         piece_count INTEGER,\n                                         set_name TEXT\n                                        )'),
 ('table',
  'product_pricing',
  'product_pricing',
  3,
  'CREATE TABLE product_pricing (prod_id INTEGER NOT NULL,\n                                           country TEXT NOT NULL,\n                                           list_price TEXT,\n                                           PRIMARY KEY(prod_id, country)\n                                           )'),
 ('table',
  'product_reviews',
  'product_reviews',
  6,
  'CREATE TABLE product_reviews (prod_id INTEGER PRIMARY KEY,\n                                                   num_reviews INTEGER,\n                                                   play_star_rating REAL,\n                                                   review_difficulty TEXT,\n                                                   star_rating REAL,\n                                                   val_star_rating REAL\n                                        )')]

In [7]:
table_alls[0]

('table',
 'product_details',
 'product_details',
 5,
 'CREATE TABLE product_details (prod_id INTEGER PRIMARY KEY,\n                                         prod_desc TEXT,\n                                         prod_long_desc TEXT,\n                                         theme_name TEXT\n                                        )')

In [8]:
table_alls[0][0]

'table'

In [9]:
table_alls[0][1]

'product_details'

In [10]:
table_alls[0][2]

'product_details'

In [11]:
for t in tables:
    
    print(t,t[0])
    print('**********************************************************************')
    
    size = cur.execute("""
                       SELECT COUNT(*) 
                       FROM {};""".format(t[0])).fetchall()
    
    table = cur.execute("""SELECT * 
                           FROM {} 
                           LIMIT 10;""".format(t[0])).fetchall()
    
    df3 = pd.DataFrame(table) 
    df3.columns = [j[0] for j in cur.description]
    print(size)
    print(df3)
    print('----------------------------------------------------------------------')

('product_details',) product_details
**********************************************************************
[(744,)]
   prod_id prod_desc prod_long_desc       theme_name
0      630      blah       blahblah          Classic
1     2304      blah       blahblah           DUPLO®
2     7280      blah       blahblah             City
3     7281      blah       blahblah             City
4     7499      blah       blahblah             City
5     7895      blah       blahblah             City
6     8293      blah       blahblah  Power Functions
7     9843      blah       blahblah      MINDSTORMS®
8    10214      blah       blahblah   Creator Expert
9    10220      blah       blahblah   Creator Expert
----------------------------------------------------------------------
('product_info',) product_info
**********************************************************************
[(744,)]
   prod_id  ages  piece_count                         set_name
0      630    4+            1                  Brick Separator
1     2304  1½-5            1     LEGO® DUPLO® Green Baseplate
2     7280  5-12            2      Straight & Crossroad Plates
3     7281  5-12            2  T-Junction & Curved Road Plates
4     7499  5-12           24     Flexible and Straight Tracks
5     7895  5-12            8                 Switching Tracks
6     8293  9-16           10  LEGO® Power Functions Motor Set
7     9843    8+            1                     Touch Sensor
8    10214   16+         4295                     Tower Bridge
9    10220   16+         1334         Volkswagen T1 Camper Van
----------------------------------------------------------------------
('product_pricing',) product_pricing
**********************************************************************
[(10870,)]
   prod_id country list_price
0    75823      US      29.99
1    75822      US      19.99
2    75821      US      12.99
3    21030      US      99.99
4    21035      US      79.99
5    21039      US      59.99
6    21028      US      59.99
7    21029      US      49.99
8    21034      US      39.99
9    21033      US      39.99
----------------------------------------------------------------------
('product_reviews',) product_reviews
**********************************************************************
[(744,)]
   prod_id  num_reviews  play_star_rating review_difficulty  star_rating  \
0      630          180               4.0         Very Easy          4.8
1     2304           15               4.4              Easy          4.0
2     7280           85               4.1         Very Easy          3.5
3     7281           40               4.1         Very Easy          3.9
4     7499           89               2.9              Easy          2.5
5     7895           47               4.2         Very Easy          4.1
6     8293           57               4.6              Easy          4.5
7     9843           13               3.8         Very Easy          3.8
8    10214          228               4.2       Challenging          4.8
9    10220          337               4.3       Challenging          4.7

   val_star_rating
0              4.6
1              3.3
2              2.3
3              2.8
4              2.2
5              3.6
6              3.9
7              3.5
8              4.6
9              4.5
----------------------------------------------------------------------

In [12]:
for t in table_alls:
    
    print(t,'\n')
    print('**********************************************************************')
    print(t[0],',',t[1])
    
    size = cur.execute("""
                       SELECT COUNT(*) 
                       FROM {};""".format(t[1])).fetchall()
    
    table = cur.execute("""SELECT * 
                           FROM {} 
                           LIMIT 10;""".format(t[1])).fetchall()
    
    df4 = pd.DataFrame(table) 
    df4.columns = [j[0] for j in cur.description]
    print(size)
    print(df4)
    print('----------------------------------------------------------------------')

('table', 'product_details', 'product_details', 5, 'CREATE TABLE product_details (prod_id INTEGER PRIMARY KEY,\n                                         prod_desc TEXT,\n                                         prod_long_desc TEXT,\n                                         theme_name TEXT\n                                        )')

**********************************************************************
table , product_details
[(744,)]
   prod_id prod_desc prod_long_desc       theme_name
0      630      blah       blahblah          Classic
1     2304      blah       blahblah           DUPLO®
2     7280      blah       blahblah             City
3     7281      blah       blahblah             City
4     7499      blah       blahblah             City
5     7895      blah       blahblah             City
6     8293      blah       blahblah  Power Functions
7     9843      blah       blahblah      MINDSTORMS®
8    10214      blah       blahblah   Creator Expert
9    10220      blah       blahblah   Creator Expert
----------------------------------------------------------------------
('table', 'product_info', 'product_info', 2, 'CREATE TABLE product_info (prod_id INTEGER PRIMARY KEY,\n                                         ages TEXT,\n                                         piece_count INTEGER,\n                                         set_name TEXT\n                                        )')

**********************************************************************
table , product_info
[(744,)]
   prod_id  ages  piece_count                         set_name
0      630    4+            1                  Brick Separator
1     2304  1½-5            1     LEGO® DUPLO® Green Baseplate
2     7280  5-12            2      Straight & Crossroad Plates
3     7281  5-12            2  T-Junction & Curved Road Plates
4     7499  5-12           24     Flexible and Straight Tracks
5     7895  5-12            8                 Switching Tracks
6     8293  9-16           10  LEGO® Power Functions Motor Set
7     9843    8+            1                     Touch Sensor
8    10214   16+         4295                     Tower Bridge
9    10220   16+         1334         Volkswagen T1 Camper Van
----------------------------------------------------------------------
('table', 'product_pricing', 'product_pricing', 3, 'CREATE TABLE product_pricing (prod_id INTEGER NOT NULL,\n                                           country TEXT NOT NULL,\n                                           list_price TEXT,\n                                           PRIMARY KEY(prod_id, country)\n                                           )')

**********************************************************************
table , product_pricing
[(10870,)]
   prod_id country list_price
0    75823      US      29.99
1    75822      US      19.99
2    75821      US      12.99
3    21030      US      99.99
4    21035      US      79.99
5    21039      US      59.99
6    21028      US      59.99
7    21029      US      49.99
8    21034      US      39.99
9    21033      US      39.99
----------------------------------------------------------------------
('table', 'product_reviews', 'product_reviews', 6, 'CREATE TABLE product_reviews (prod_id INTEGER PRIMARY KEY,\n                                                   num_reviews INTEGER,\n                                                   play_star_rating REAL,\n                                                   review_difficulty TEXT,\n                                                   star_rating REAL,\n                                                   val_star_rating REAL\n                                        )')

**********************************************************************
table , product_reviews
[(744,)]
   prod_id  num_reviews  play_star_rating review_difficulty  star_rating  \
0      630          180               4.0         Very Easy          4.8
1     2304           15               4.4              Easy          4.0
2     7280           85               4.1         Very Easy          3.5
3     7281           40               4.1         Very Easy          3.9
4     7499           89               2.9              Easy          2.5
5     7895           47               4.2         Very Easy          4.1
6     8293           57               4.6              Easy          4.5
7     9843           13               3.8         Very Easy          3.8
8    10214          228               4.2       Challenging          4.8
9    10220          337               4.3       Challenging          4.7

   val_star_rating
0              4.6
1              3.3
2              2.3
3              2.8
4              2.2
5              3.6
6              3.9
7              3.5
8              4.6
9              4.5
----------------------------------------------------------------------

In [13]:
cur.execute("""SELECT * 
               FROM product_details
               JOIN product_info
               USING(prod_id)
               JOIN product_pricing
               USING(prod_id)
               JOIN product_reviews
               USING(prod_id);""")

# Take results and create DataFrame
df5 = pd.DataFrame(cur.fetchall()) 
for i in cur.description:
    print(i)
print('----------------------------------------------------------------------------------')
df5.columns = [i[0] for i in cur.description]
print(df5.shape[0])
df5.head()

('prod_id', None, None, None, None, None, None)
('prod_desc', None, None, None, None, None, None)
('prod_long_desc', None, None, None, None, None, None)
('theme_name', None, None, None, None, None, None)
('ages', None, None, None, None, None, None)
('piece_count', None, None, None, None, None, None)
('set_name', None, None, None, None, None, None)
('country', None, None, None, None, None, None)
('list_price', None, None, None, None, None, None)
('num_reviews', None, None, None, None, None, None)
('play_star_rating', None, None, None, None, None, None)
('review_difficulty', None, None, None, None, None, None)
('star_rating', None, None, None, None, None, None)
('val_star_rating', None, None, None, None, None, None)
----------------------------------------------------------------------------------
10870

,prod_id,prod_desc,prod_long_desc,theme_name,ages,piece_count,set_name,country,list_price,num_reviews,play_star_rating,review_difficulty,star_rating,val_star_rating
0,75823,blah,blahblah,Angry Birds™,6-12,277,Bird Island Egg Heist,US,29.99,2.0,4.0,Average,4.5,4.0
1,75822,blah,blahblah,Angry Birds™,6-12,168,Piggy Plane Attack,US,19.99,2.0,4.0,Easy,5.0,4.0
2,75821,blah,blahblah,Angry Birds™,6-12,74,Piggy Car Escape,US,12.99,11.0,4.3,Easy,4.3,4.1
3,21030,blah,blahblah,Architecture,12+,1032,United States Capitol Building,US,99.99,23.0,3.6,Average,4.6,4.3
4,21035,blah,blahblah,Architecture,12+,744,Solomon R. Guggenheim Museum®,US,79.99,14.0,3.2,Challenging,4.6,4.1

In [14]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10870 entries, 0 to 10869
Data columns (total 14 columns):
prod_id              10870 non-null int64
prod_desc            10870 non-null object
prod_long_desc       10870 non-null object
theme_name           10870 non-null object
ages                 10870 non-null object
piece_count          10870 non-null int64
set_name             10870 non-null object
country              10870 non-null object
list_price           10870 non-null object
num_reviews          9449 non-null float64
play_star_rating     9321 non-null float64
review_difficulty    10870 non-null object
star_rating          9449 non-null float64
val_star_rating      9301 non-null float64
dtypes: float64(4), int64(2), object(8)
memory usage: 1.2+ MB

In [15]:
df5.to_csv('Lego_data_merged.csv', index=False)

## Summary
Nice work! You're working more and more independently through the workflow and ensuring data integrity! In this lab, you successfully executed an ETL process to merge different tables!